<footer>
    <span class="p-2">About Us</span>
    <div>
    <a href="#" class="p-2"><img src="/assets/instagram.svg" width="23" height="23">Nutrisport</a>
    </div>
    <div>
    <a href="#" class="p-2"><img src="/assets/facebook.svg" width="23" height="23">Nutrisport</a>
    </div>
    <div>
    <span><img src="/assets/whatsapp.svg" width="23" height="23">(+212)654642437</span>
    </div>
    <div>
    <img src="/assets/localisation-du-terrain.svg" width="23" height="23">
    <span class="p-2">Boulevard 2Mars, Casablanca, Maroc 80 005 </span>
    </div>
</footer>
