<h1 class="text-center my-5 px-0 ">C'est qoui un programmme d'entrainement?</h1>
    <div class="container shadow" style="border-radius: 20px;">
        <p class="mx-2 mb-3 text-center" style="text-indent: 10px;">Un programme d'entraînement est un plan structuré et organisé conçu pour aider une personne à atteindre ses objectifs en matière de condition physique, de performance sportive ou de santé. Il est généralement conçu en fonction des besoins spécifiques de l'individu, de ses capacités physiques actuelles et des objectifs qu'il souhaite atteindre.

            Un programme d'entraînement peut inclure divers éléments, tels que des exercices de cardio, de musculation, de flexibilité, de mobilité, ainsi que des techniques de récupération et de nutrition. Il peut être élaboré par un entraîneur personnel, un coach sportif, un physiothérapeute ou un professionnel de la santé spécialisé dans le domaine de la condition physique.
            
            L'élaboration d'un programme d'entraînement efficace implique généralement l'évaluation initiale des capacités physiques de la personne, la définition des objectifs à court et à long terme, la planification des séances d'entraînement avec la sélection appropriée des exercices, des intensités et des volumes d'entraînement, ainsi que le suivi régulier des progrès réalisés pour apporter les ajustements nécessaires. Un programme d'entraînement bien conçu peut contribuer à améliorer la force, l'endurance, la flexibilité, la santé cardiovasculaire et globalement la qualité de vie.</p>
        </div>
<h1 class="text-center  mx-0 px-0 mb-3">Reserver un programme d'entrainement</h1>
    <div class="row border-5 animation">
    <form align="center" style="text-align: center;" class="shadow col-5 w-50" [formGroup]="ReservForm">
        <div class="container">
        <legend>RESERVATION</legend>
        <div class="row justify-content-center ">
            <div class="col-4">
                <label for="Nom">Nom: </label>
                <input type="text" name="" id="Nom" placeholder="Nom*" required formControlName="Nom">
                
            </div>
            <div class="col-4">
                <label for="Prenom">Prenom : </label>
                <input type="text" name="" id="Prenom" placeholder="Prenom*" required formControlName="Prenom">
            </div>
        </div>
        <label>Type de corps:</label>
        <br>
        <div class="row justify-content-center mb-3">
            <div class="col-4 p-2">
                <input type="radio" name="TypeCorps" id="ecto" value="ectomorphe" formControlName="TypeCorps" required>
                <label for="ecto"><img src="/assets/Ectomorph.jpg" width="200" height="200" style="border-radius: 10px;"></label>
            </div>
            <div class="col-4 p-2" >
                <input type="radio" name="TypeCorps" id="meso" value="mesomorphe" formControlName="TypeCorps" required>
                <label for="meso"><img src="/assets/mesomorph.jpg" width="200" height="200" style="border-radius:10px;"></label>
            </div>
            <div class="col-4 p-2">
                <input type="radio" name="TypeCorps" id="endo" value="endomorphe" formControlName="TypeCorps" required>
                <label for="endo"><img src="/assets/endomorph.jpg" width="200" height="200" style="border-radius:10px;"></label>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-4">
                <label for="Poids">Poids:</label>
                <input id="Poids" type="number" name="poids" placeholder="Poids(Kg)*" step="0.5"  min="0" formControlName="Poids" required>
            </div>
            <div class="col-4">
                <label for="Hauteur">Hauteur:</label>
                <input id="Hauteur" type="number" name="hauteur" placeholder="Hauteur(Cm)*" step="0.5" min="0" formControlName="Hauteur" required>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-4">
                <label for="Age">Age:</label>
                <input id="Age" type="number" name="Age" placeholder="Age*" min="0" formControlName="Age">
            </div>
            <div class="col-4">
                <label for="Tel">Tel:</label>
                <input id="Tel" type="tel" name="Tel" placeholder="Telephone*" formControlName="Tel">
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-5">
                <label for="ProgramAct">Programme d'entrainement actuelle:</label>
                <select id="ProgramAct" formControlName="ProgramAct">
                    <option value="None">Aucun</option>
                    <option value="PPL">PPL</option>
                    <option value="Arnold Split">Arnlod Split</option>
                    <option value="FullBody">FullBody</option>
                    <option value="Upper-Lower">Upper-Lower</option> 
                </select>
            </div>
        </div>
        <label>Sexe:</label>
        <br>
        <div class="row justify-content-center mb-3">
            <div class="col-4 p-2">
                <input type="radio" name="Sexe" id="Homme" value="Homme" formControlName="Sexe" required>
                <label for="Homme" class="btn btn-outline-secondary">Homme</label>
            </div>
            <div class="col-4 p-2" >
                <input type="radio" name="Sexe" id="Femme" value="Femme" formControlName="Sexe" required>
                <label for="Femme" class="btn btn-outline-secondary">Femme</label>
            </div>
        </div>
        <label for="Objectif">L'objectif:</label>
        <div id="Objectif">
            <textarea name="" id="" cols="50" rows="3" formControlName="Objectif"  placeholder="Ecrire ton objectif en quelques lignes."></textarea>
        </div>
        <input type="submit" value="Reserver" [disabled]="ReservForm.invalid" (click)="WillCallYou()" class="btn btn-reserver mb-3">
        </div>
    </form>
    <div *ngIf="showMessage" class="alert alert-success w-25" role="alert" style="position:absolute; z-index: 4; bottom:500px;right: 500px;text-align:center;">Le formulaire a été rempli avec succès. Notre service vous appellera bientôt.</div>
    <div class="col-lg-6 d-flex align-items-stretch px-0 shadow build">
        <div  class="info-wrap w-100 p-5 img-fluid col-lg-6 d-flex align-items-stretch build" style="background-image: url(assets/beat.jpg);background-size: 650px 1030px;">
    </div>

