.navbar{
    background:linear-gradient(to right,#b3e17f,#c5e99d);
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;

}
@font-face{
    font-family: "Regular Brush";
    src:url('/assets/Regular Brush.otf');
}
.font
{
 font-size: 44px;
 font-family: "Regular Brush";
left: 88px;
position:relative;
 color: rgb(240, 235, 228);

}
.ulnavright{
    margin-left: 920px;

}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: 27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: var(--bs-nav-link-font-weight);
    color:  rgb(240, 235, 228);
    font-weight: bold;
    text-decoration: none;
    background: none;
    margin-left: 20px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    border: 4px solid #c5e99d;
    border-radius: 20%;
  }

  .nav-link:hover{
      background-color: white;
      border: 4px solid #c5e99d;
      border-radius: 20%;
      color:black;

  }
.recipee{

}
