.font-italic {
  font-family: 'Georgia', serif;
  font-style: italic;
  font-weight: bold;
  background: linear-gradient(to right, #b3e17f, #c5e99d);
  -webkit-background-clip: text;
  color: transparent;

}
.btn-container {
  margin-top: 20px;
}



.btn.custom-btn.bt {
  width: 200px;
  font-weight: bold;
  background: linear-gradient(to right, #b3e17f, hsl(129, 23%, 51%));
  color: black;
  margin-right: 100px;
 transition:  0.2s;
}
.btn.custom-btn.bt:hover {
  transform: scale(1.05);
}

img{
  width:100%;
  height: 300px;
  margin-left: 0px;
}
