<div class="container">
    <div class="newz">
        <div class="container">
          <div>
            <h3 class="newstxt1">On reste en contact ?</h3>
            <h3 class="newstxt2">Inscrivez-vous a la Newsletter</h3>
            <p>Envie de recevoir des astuces et des programmes d'entrainement? Abonnez-vous à la newsletter <span style="color:#59874e;">NutriSport</span>, créée
              pour celles et ceux qui souhaitent prendre soin de leur santé au global. A tout de suite.</p>
          </div>
          <form method="get" action="news.php">
            <input type="text" placeholder="Votre prenom" class="input1"><br>
            <input type="text" placeholder="Votre e-mail" class="input1"><br>
            <input type="submit" value="C'est parti !" class="submit1">
          </form>
        </div>
      </div>
</div>
